$module: horizontal-bar-chart;

:export {
	moduleName: $module;
}

.#{$module} {
	@mixin colored-chart($primaryColor, $secondaryColor) {
		.#{$module}__primary-bar {
			fill: $primaryColor;
		}
		.#{$module}__primary-bar,
		.#{$module}__secondary-bar {
			&--hover {
				fill: $secondaryColor;
			}
		}
		.#{$module}__tick {
			fill: $secondaryColor;
			&--hover {
				fill: $primaryColor;
			}
		}
	}

	// We can't use custom classname on axis
	.xAxis {
		text,
		tspan {
			color: #969696;
			fill: #969696;
		}
	}

	.xAxis,
	.yAxis {
		line {
			stroke: #969696;
		}
	}

	&__tick {
		color: #969696;
		font-size: 1.2rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: $font-weight-semi-bold;
	}

	&--value {
		@include colored-chart(#b4d5ec, #065186);
	}

	&--pattern {
		@include colored-chart(tint($jaffa, 70%), shade($jaffa, 30%));
	}

	&__secondary-bar {
		fill: #d5d5d5;
	}
}
